.content_wrapper{
    width:80%;
    height: 90%;
    margin: 10% 10% 0 10%;
}
.leftpart{
    height:600px;
    width: 40%;
    align-self: center;
    float:left;
}

.rightpart{
    height:600px;
    width:40%;
    float:right;
    margin-right: 10%;

}
.FirstWord{
    font-family: 华光大黑_CNKI;
    font-size: larger;
}