/* 首页布局 */

.PartName{
    width: auto;
    height: 100px;
    background-size: 400px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/topic1.png);
    margin-top:-100px;

}
.txt{
    text-align: center;
    width:100%;


}
.txtpart{
    float:left;
    margin:10% 100px 0 10%;
    height:100%;
    width: 510px;

}
.my_picture{
    width:30%;
    height: 500px;
    float:right;
    display: flex;
    margin-right:15%;
    margin-top: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/selfie1.jpg);
}
