
.pics{
    height:300px ;
    width:auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/bk2.jpg);
}
.PartName{
    width: auto;
    height: 100px;
    background-size: 400px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../image/topic2.png);
    margin-top:-100px;
}
.Space{
    width:10%;
    height: 50px;


}